*

!README.md
!Makefile
!.gitignore

!lectures
!lectures/*.md
!lectures/Makefile
!lectures/assets
!lectures/assets/*.css
!lectures/assets/*.png
!lectures/assets/*.gif
!lectures/assets/*.mp4

!invaders
!invaders/*.html
!invaders/*.js
!invaders/*.css
!invaders/*.png

!labs/
!labs/Makefile
!labs/*.md
!labs/*.jpg
!labs/*.png
