*

!README.md
!index.md
!.gitignore

!lectures
!lectures/*.html
!lectures/*.pdf
!lectures/assets
!lectures/assets/*.css
!lectures/assets/*.png
!lectures/assets/*.gif
!lectures/assets/*.mp4

!labs/
!labs/*.pdf
!labs/*.jpg
!labs/*.png
