*

!README.md
!Makefile
!.gitignore

!slides
!slides/*.md
!slides/Makefile
!slides/assets
!slides/assets/*.css
!slides/assets/*.png

!invaders
!invaders/*.html
!invaders/*.js
!invaders/*.css
!invaders/*.png
